:host {
  &.gu-transit {
    .task {
      opacity: 0.2;
    }
  }

  &.gu-mirror {
    .task {
      transform: rotate(5deg);
    }
  }
}

.task {
  display: flex;
  align-items: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 48px;
  padding: 0 0 0 16px;
  margin: 8px;
  background-color: #ffffff;
  cursor: pointer;

  transition: all .5s;

  .task-content {
    max-width: 180px;
    padding: 8px 0;
    white-space: normal;
  }

  button {
    display: none;
  }

  &:hover {
    button {
      display: block;
    }
  }
}

.add-task {
  display: flex;
  align-items: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 48px;
  margin: 8px;
  color: white;
  background: none;
  cursor: pointer;

  span {
    padding: 0 16px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

textarea {
  width: 100%;
  height: 84px;
  padding: 8px 16px;
  box-sizing: border-box;
}
