.auth-zone {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: burlywood;

  .auth-zone-container {
    width: 320px;
  }
}
