.boards {
  padding: 32px 16px;

  .board {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 8px;
    width: 220px;
    height: 80px;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .remove-link {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  }
}

.add-board-link {
  position: absolute;
  right: 64px;
  bottom: 64px;
}
