.list {
  display: inline-block;
  width: 260px;
  margin: 0 16px;
  vertical-align: top;

  background-color: #673ab7;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

  .list-header {
    height: 46px;
    align-items: center;
    padding: 0 8px;

    h3 {
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .edit-link, .remove-link {
    display: none;
  }

  h3 {
    color: #ffffff;
    margin: 0;
  }

  md-list-item {
    margin: 8px;
    background-color: #ffffff;
  }

  &:first-child {
    margin-left: 32px;
  }

  &:last-child {
    margin-right: 32px;
  }

  &:hover {
    .edit-link, .remove-link {
      display: block;
    }
  }
}
