.list {
  display: inline-block;
  width: 260px;
  margin: 0 16px;
  vertical-align: top;

  background-color: #673ab7;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

  .list-header {
    height: 46px;
    align-items: center;
    padding: 0 8px;

    h3 {
      color: #ffffff;
      margin: 0;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
    }

    .remove-link {
      display: none;
    }

    &:hover {
      .remove-link {
        display: block;
      }
    }
  }

  .tasks {
    min-height: 8px;
  }

  .no-tasks {
    padding: 8px;
    color: white;
    font-size: 12px;
  }
}
