:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.board-header {
  height: 80px;
  padding: 0 16px;
  align-items: center;
}

.lists {
  overflow: auto;

  .lists-container {
    white-space: nowrap;
    padding: 16px 0;
  }
}
