:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lists {
  overflow: auto;

  .lists-container {
    white-space: nowrap;
    padding-top: 16px;
  }
}

.add-list-link {
  position: absolute;
  right: 16px;
  top: 16px;
}
