:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lists {
  overflow: auto;

  .lists-container {
    white-space: nowrap;
    padding-top: 16px;

    .list {
      display: inline-block;
      width: 260px;
      margin: 0 16px;

      background-color: #673ab7;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

      .list-header {
        height: 46px;
        align-items: center;
        padding: 0 8px;
      }

      .remove-link {
        display: none;
      }

      h3 {
        color: #ffffff;
        margin: 0;
      }

      md-list-item {
        margin: 8px;
        background-color: #ffffff;
      }

      &:first-child {
        margin-left: 32px;
      }

      &:last-child {
        margin-right: 32px;
      }

      &:hover {
        .remove-link {
          display: block;
        }
      }
    }
  }
}

.add-list-link {
  position: absolute;
  right: 16px;
  top: 16px;
}
