<form #form="ngForm" (submit)="signUp(form)" novalidate autocomplete="off">
  <md-card>
    <md-card-title>Sign Up</md-card-title>
    <md-card-content>
      <div>
        <md-input ngModel placeholder="Email" name="email" type="email" required></md-input>
      </div>
      <div>
        <md-input ngModel placeholder="Password" name="password" type="password" required></md-input>
      </div>
    </md-card-content>
    <md-card-actions align="right">
      <button md-button color="primary" [disabled]="form.invalid">Sign Up</button>
    </md-card-actions>
  </md-card>
</form>
