@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber";


md-input {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}
